{{ if .Data.bluetooth }}
check process bluetoothd with pidfile /run/bluetoothd.pid
  start program = "/usr/sbin/service bluetooth start"
  stop program = "/usr/sbin/service bluetooth stop"
  if 3 restarts within 5 cycles then timeout
  depends on bluetoothd_bin
  group system
  group bluetooth

check file bluetoothd_bin with path /usr/lib/bluetooth/bluetoothd
  if does not exist then unmonitor
  include /etc/monit/templates/rootbin
  group system
  group bluetooth
{{ end }}

