{{ if .Data.smtp.relay }}
table secrets file:/etc/mail/secrets
accept for any relay via {{.Data.smtp.relay.protocol }}://{{.Data.smtp.relay.sysuser }}@{{.Data.smtp.relay.server }} auth <secrets> {{ if .Data.smtp.hostname }} hostname {{.Data.smtp.hostname }} {{ end }}
{{ end }}
