[Unit]
Description=Confinit (boot stage) on /%I
DefaultDependencies=no
# Wants=local-fs.target
After=local-fs.target confinit.target
Before=cloud-init-local.service shutdown.target
Before=systemd-sysctl.service systemd-modules-load.service systemd-timesyncd.service systemd-timedated.service
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/confinit
ConditionPathExists=/%I/.confinit-boot.yml
# RequiresMountsFor=/boot

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/confinit --config /%I/.confinit-boot.yml
PrivateTmp=yes
# StandardOutput=journal
StandardOutput=file:/var/log/confinit-boot-%N.log

[Install]
WantedBy=local-fs.target confinit.target
DefaultInstance=confinit-boot@boot-config.service
