[Unit]
Description=Confinit files from /%I
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target
Before=cloud-init-local.service
Before=shutdown.target
Before=sysinit.target
Before=systemd-sysctl.service
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/confinit
ConditionPathExists=/%I/confinit.yml
# RequiresMountsFor=/boot

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal
User=root
Group=root
ExecStart=/bin/confinit --config /%I/confinit.yml

[Install]
WantedBy=cloud-init.target
