[Unit]
Description=Confinit (boot stage) on /%I
DefaultDependencies=no
Wants=systemd-remount-fs.service boot.mount
After=systemd-remount-fs.service boot.mount
Before=network-pre.target
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/confinit
ConditionPathExists=/%I/.confinit-boot.yml
RequiresMountsFor=/boot

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/confinit --config /%I/.confinit-boot.yml
PrivateTmp=yes
# StandardOutput=journal
StandardOutput=file:/var/log/confinit-boot-%N.log

[Install]
WantedBy=confinit.target
DefaultInstance=confinit-boot@boot-config.service
