{{ if hasKey .Data "nftables" }}#!/usr/sbin/nft -f
{{ $nftables := .Data.nftables }}
{{ if hasKey $nftables "rules" }}{{ .Data.nftables.rules }}
{{ else }}
flush ruleset
table inet filter {
  chain input {
    type filter hook input priority 0;
  }
  chain forward {
    type filter hook forward priority 0;
  }
  chain output {
    type filter hook output priority 0;
  }
}
{{ end }}
{{ end -}}