[Unit]
Description=Confinit (final stage) on /%I
DefaultDependencies=no
Requires=network.target local-fs.target
Wants=confinit-boot@%i.service
After=confinit-boot@%i.service network-online.target bluetooth.service systemd-timesyncd.service
After=docker.service
Before=rc-local.service shutdown.target
Before=docker-compose.target monit.service
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/confinit
ConditionPathExists=/%I/.confinit-final.yml

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/bin/confinit --config /%I/.confinit-final.yml
PrivateTmp=yes
# StandardOutput=journal
StandardOutput=file:/var/log/confinit-final-%N.log

[Install]
WantedBy=confinit.target
DefaultInstance=confinit-final@boot-config.service
