[Unit]
Description=Confinit boot files from /%I
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target
Before=shutdown.target
Before=cloud-config.target
Before=sysinit.target
Before=cloud-init-local.service
Before=systemd-sysctl.service systemd-modules-load.service systemd-timesyncd.service
Conflicts=shutdown.target
ConditionFileIsExecutable=/bin/confinit
ConditionPathExists=/%I/.confinit-boot.yml
# RequiresMountsFor=/boot

[Service]
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal
User=root
Group=root
ExecStart=/bin/confinit --config /%I/.confinit-boot.yml
PrivateTmp=yes

[Install]
WantedBy=sysinit.target cloud-config.target
