# Default settings for openssh-server. This file is sourced by /bin/sh from
# systemd unit

# Options to pass to sshd
SSHD_OPTS=

# Enable at startup
{{ if .Data.sshd }}
SSHD_ENABLED=1
{{ else }}
SSHD_ENABLED=0
{{ end }}

