{{ if .Data.system.forceipv4 }}
# to disable IPv6 on all interfaces system wide
net.ipv6.conf.all.disable_ipv6 = 1

# to disable IPv6 on a specific interface (e.g., eth0, lo)
net.ipv6.conf.lo.disable_ipv6 = 1
{{ end }}

{{ if .Data.networking.eth0.forceipv4 }}
net.ipv6.conf.eth0.disable_ipv6 = 1
{{ end }}
{{ if .Data.networking.wlan0.forceipv4 }}
net.ipv6.conf.wlan0.disable_ipv6 = 1
{{ end }}

